In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the data
data = pd.read_csv("Train_Data.csv")
data.head()

,text,author,controversiality,parent_text,parent_score,parent_votes,parent_author,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,['calantus'],0,"It's quite unfair to call Hillary Clinton a ""c...",245,245,Whisper,0,-8
1,DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...,['Shadowrose'],0,upmodded for awesome kindness,32,32,b3mus3d,0,-16
2,"THAT WAS SUPPOSED TO MEAN "" BY A PLACE WHERE P...",['NExusRush'],0,"What the hell does ""because its by a golf cour...",12,12,mr_jellyneck,0,-7
3,I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS :\,['R0N_SWANS0N'],0,NICE TRY JENNIFER! I KNOW IT'S YOU AND I KNOW...,117,117,ometzo,0,67
4,"Great work, Zhesbe! I'd give you a raise but y...",['reddums'],0,"""HEY BOSS COME LOOK AT WHAT I DID!""",1933,1933,Zhesbe,0,1348

In [3]:
#Find the shape of the Data
print("SHAPE: ",data.shape)

print('*******************************')

# Checking for any missing values
print(data.isnull().any())

SHAPE:  (4999, 9)
*******************************
text                       False
author                     False
controversiality           False
parent_text                False
parent_score               False
parent_votes               False
parent_author              False
parent_controversiality    False
Score                      False
dtype: bool

In [4]:
data["controversiality"].unique()

array([0, 1], dtype=int64)

In [5]:
# dropping unwanted columns from the dataset
data = data.drop(['author', 'parent_author'], axis = 1)

# dropping Duplicate columns from the dataset
data = data.drop(['parent_votes'], axis = 1)
data.head()

,text,controversiality,parent_text,parent_score,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,0,"It's quite unfair to call Hillary Clinton a ""c...",245,0,-8
1,DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...,0,upmodded for awesome kindness,32,0,-16
2,"THAT WAS SUPPOSED TO MEAN "" BY A PLACE WHERE P...",0,"What the hell does ""because its by a golf cour...",12,0,-7
3,I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS :\,0,NICE TRY JENNIFER! I KNOW IT'S YOU AND I KNOW...,117,0,67
4,"Great work, Zhesbe! I'd give you a raise but y...",0,"""HEY BOSS COME LOOK AT WHAT I DID!""",1933,0,1348

In [6]:
# Combining the text data together for countVectorizer application
data['combined_text'] = data['text'] + ' ' + data['parent_text']

# Removing the remaining data
data = data.drop(['text', 'parent_text'], axis = 1)

# Rearranging the column order
data = data[['combined_text', 'controversiality', 'parent_score','parent_controversiality','Score']]
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,0,245,0,-8
1,DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...,0,32,0,-16
2,"THAT WAS SUPPOSED TO MEAN "" BY A PLACE WHERE P...",0,12,0,-7
3,I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS ...,0,117,0,67
4,"Great work, Zhesbe! I'd give you a raise but y...",0,1933,0,1348

In [7]:
data.isnull().sum() / len(data) * 100

combined_text              0.0
controversiality           0.0
parent_score               0.0
parent_controversiality    0.0
Score                      0.0
dtype: float64

In [8]:
# Feature scaling on dataset
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

data[['parent_score','Score']] = mms.fit_transform(data[['parent_score','Score']])
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,0,0.630043,0,0.344396
1,DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...,0,0.615379,0,0.342726
2,"THAT WAS SUPPOSED TO MEAN "" BY A PLACE WHERE P...",0,0.614002,0,0.344604
3,I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS ...,0,0.621231,0,0.360050
4,"Great work, Zhesbe! I'd give you a raise but y...",0,0.746248,0,0.627426

In [9]:
# Convert all upper case text to lower case text
data['combined_text'] = data['combined_text'].str.lower()
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,0,0.630043,0,0.344396
1,downmodded for irrelevance? isn't that how thi...,0,0.615379,0,0.342726
2,"that was supposed to mean "" by a place where p...",0,0.614002,0,0.344604
3,i thought everyone did; its fucking delicious ...,0,0.621231,0,0.360050
4,"great work, zhesbe! i'd give you a raise but y...",0,0.746248,0,0.627426

In [10]:
# Remove all the punctuations
import string
eng_punct = string.punctuation

def remove_punc(text):
    translator = str.maketrans('', '', eng_punct)
    return text.translate(translator)

data['combined_text'] = data['combined_text'].apply(lambda x: remove_punc(x))
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,0,0.630043,0,0.344396
1,downmodded for irrelevance isnt that how this ...,0,0.615379,0,0.342726
2,that was supposed to mean by a place where pe...,0,0.614002,0,0.344604
3,i thought everyone did its fucking delicious ...,0,0.621231,0,0.360050
4,great work zhesbe id give you a raise but you ...,0,0.746248,0,0.627426

In [11]:
# Removing stop words from the text column
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in stop_words])


data['combined_text'] = data['combined_text'].apply(remove_stopwords)
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,must retarded thought meant con lawl oh well w...,0,0.630043,0,0.344396
1,downmodded irrelevance isnt works upmodded awe...,0,0.615379,0,0.342726
2,supposed mean place people undoubtedly snake b...,0,0.614002,0,0.344604
3,thought everyone fucking delicious nice try je...,0,0.621231,0,0.360050
4,great work zhesbe id give raise seem handled h...,0,0.746248,0,0.627426

In [12]:
# Removing Numbers from the text column
import re
def remove_nums(text):
    return re.sub('[0-9]+', "", text)

data['combined_text'] = data['combined_text'].apply(lambda x: remove_nums(x))
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,must retarded thought meant con lawl oh well w...,0,0.630043,0,0.344396
1,downmodded irrelevance isnt works upmodded awe...,0,0.615379,0,0.342726
2,supposed mean place people undoubtedly snake b...,0,0.614002,0,0.344604
3,thought everyone fucking delicious nice try je...,0,0.621231,0,0.360050
4,great work zhesbe id give raise seem handled h...,0,0.746248,0,0.627426

In [13]:
# Stemming on Dataset
from nltk.stem import PorterStemmer
pst = PorterStemmer()

def stemming_on_text(data): v
    text = [pst.stem(data) for word in data]
    return data

data['combined_text'] = data['combined_text'].apply(lambda x: stemming_on_text(x))
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,must retarded thought meant con lawl oh well w...,0,0.630043,0,0.344396
1,downmodded irrelevance isnt works upmodded awe...,0,0.615379,0,0.342726
2,supposed mean place people undoubtedly snake b...,0,0.614002,0,0.344604
3,thought everyone fucking delicious nice try je...,0,0.621231,0,0.360050
4,great work zhesbe id give raise seem handled h...,0,0.746248,0,0.627426

In [14]:
# Lemmatization on Dataset
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

def lemmatizer_on_text(data):
    text = [wnl.lemmatize(word) for word in data]
    return data

data['combined_text'] = data['combined_text'].apply(lambda x: lemmatizer_on_text(x))
data.head()

,combined_text,controversiality,parent_score,parent_controversiality,Score
0,must retarded thought meant con lawl oh well w...,0,0.630043,0,0.344396
1,downmodded irrelevance isnt works upmodded awe...,0,0.615379,0,0.342726
2,supposed mean place people undoubtedly snake b...,0,0.614002,0,0.344604
3,thought everyone fucking delicious nice try je...,0,0.621231,0,0.360050
4,great work zhesbe id give raise seem handled h...,0,0.746248,0,0.627426

In [21]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X = data.drop('Score', axis=1)
y = data['Score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train

,combined_text,controversiality,parent_score,parent_controversiality
1738,thats dont let marketing people engineering de...,0,0.626119,0
4943,true humorous dismissal feminist comments inte...,0,0.612075,0
2916,nope terrorized op sounds like beginning absol...,0,0.647322,0
1595,followed cant touch ball goalie none teammates...,0,0.615173,0
3214,dude based legs couldnt handle thats needs whe...,0,0.620267,0
...,...,...,...,...
4426,im telling judge people im telling use mentall...,0,0.614140,0
466,edit guess wrong cant see posts map chat thank...,0,0.622264,0
3092,ive hyped way smaller things hype train left s...,0,0.629423,0
3772,disregard remove niggers instant peace happens...,0,0.614140,0
860,tho reputation dominant big man think hes alri...,0,0.613727,0

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv

cv.fit(X_train['combined_text'])

X_train = cv.transform(X_train['combined_text'])
X_test = cv.transform(X_test['combined_text'])
X_train

<3999x21863 sparse matrix of type '<class 'numpy.int64'>'
	with 126418 stored elements in Compressed Sparse Row format>

In [23]:
# Build and train the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

In [26]:
# Calculate the Accuracy
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.004568994889135748